@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@400;600;700&family=Smooch&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
  padding-right: 40px;
  font-family: Open Sans;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  width: 100%;
  background-color: #0a2640;
  margin: 0 auto;
  padding-top: 56px;
}

.ellipse {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 0;
  max-width: 1290px;
}

.ellipse_size {
  width: 1293px;
}

.container {
  max-width: 1200px;

  margin: 0px 100px;
  padding: 0 10px;
}

.logo__img {
  background-color: #0a2640;
  margin-left: 0px;
}

.frame__img {
  /* margin-top: -330px; */
}

.header__inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  max-height: 42px;
}

.menu {
  margin: 60px 0px;
  z-index: 1;
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu__item {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding-right: 0px;
}

.menu__link_pro {
  padding: 8px 40px;
}

.menu__link_ab {
  padding: 8px 40px;
}

.menu__link_serv {
  padding: 8px 40px;
}

.menu__link_pro:hover {
  background-color: #5f116e;
  color: rgb(19, 122, 190);
  padding: 8px 40px;
  display: inline block;
  border-radius: 24px;
}

.menu__link_ab:hover {
  background-color: hsl(36, 78%, 46%);
  color: rgb(231, 19, 19);
  padding: 8px 40px;
  display: inline block;
  border-radius: 24px;
}

.menu__link_serv:hover {
  background-color: hsl(64, 80%, 39%);
  color: rgb(52, 47, 56);
  padding: 8px 40px;
  display: inline block;
  border-radius: 24px;
}

.menu__link:hover {
  background-color: yellow;
  color: blue;
  padding: 8px 40px;
  display: inline block;
  border-radius: 24px;
}

.menu__link__btn {
  padding: 8px 40px;
  color: #0a2640;
  background-color: #ffffff;
  border-radius: 24px;
  font-family: Open Sans;
  font-size: 16px;
}

.menu__link__btn:hover {
  background-color: #5e8a9e;
  color: #37586f;
}

.hero__action {
  margin: 0 auto;
  display: flex;
  padding: 60px 100px 64px;
  background-color: #0a2640;
  align-items: center;
  justify-content: space-between;
}

.hero__content_btn {
  padding-left: 100px;
}

.hero__text {
  font-family: Manrope, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 48px;
  width: 657px;
  height: 138px;
  line-height: 72px;
  margin-bottom: 16px;
  padding-left: 100px;
}

.hero__title {
  color: #ffffff;
  font-family: Open Sans;
  width: 567px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 40px;
  padding-left: 100px;
}

.hero__btn_buy {
  padding: 15px 15px;
  background-color: #69e6a6;
  color: #0a2640;
  border-radius: 56px;
  padding: 16px 56px;
  width: 247px;
  height: 56px;
}

.hero__btn_buy:hover {
  background-color: red;
  color: #115799;
}

.hero__btn_ex {
  border: 2px solid #ffffff;
  border-radius: 15%;
  padding: 15px 15px;
  background-color: #0a2640;
  width: 247px;
  height: 56px;
  padding: 16px 56px;
  border-radius: 56px;
  color: #ffffff;
  margin-left: 25px;
}

.hero__btn_ex:hover {
  border: 2px solid #af1b65;
  background-color: #1f468f;
  color: #19c2ec;
}

.logo__wall__block {
  background-color: #0a2640;
  margin: 0 auto;
  padding: 56px 0px 64px 0px;
}

.logo__wall {
  display: flex;
  max-width: 1173px;
  max-height: 73px;
  margin: 0 auto;

  top: 210px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  background-image: linear-gradient(
    90deg,
    #0a2640 0%,
    rgba(10, 38, 64, 0.109375) 31.6%,
    rgba(10, 38, 64, 0) 72.89%,
    #0a2640 97.87%
  );
}

.main {
  background-color: #ffffff;
  margin: 0 auto;
}

.servises {
  margin: 84px 279px 80px 279px;
  width: 842px;
  height: 186px;
}

.servises__top {
  width: 118px;
  height: 32px;
  margin: -2px 362px 12px 362px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #777777;
}

.servises__text {
  width: 842px;
  height: 144px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.cards__row {
  display: flex;
  margin-top: 78px;
}

.card__left {
  margin-left: 150px;
}

.card__center {
  margin-left: 100px;
  margin-right: 100px;
}

.card__right {
  margin-right: 150px;
}

.card__text__top {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.card__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
}

.explore {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #0a2640;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-bottom: 12px;
}

.explore__arrow {
  margin-bottom: -7px;
}

.explore__arrow:hover {
  transition: 1s;
  padding-left: 5px;
}

.section {
  display: flex;
  margin: 0 auto;
}

.section__left {
  padding: 197px 150px 120px 156px;
}

.section__right__top {
  padding: 263px 107px 40px 0px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.section__right__ul {
  padding: 0px 150px 56px 0px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.section__item {
  padding-right: 8px;
  margin-bottom: -11px;
}

.section__right_btn {
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  gap: 8px;
  width: 210px;
  height: 60px;
  background: #0a2640;
  border: 2px solid #0a2640;
  border-radius: 56px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.content {
  display: flex;
  margin: 0 auto;
}

.content__left__top {
  padding: 100px 163px 64px 150px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.content__left__ul {
  padding: 0px 156px 226px 150px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.content__item {
  padding: 16px 53px 16px 60px;
}

.content__ul_item {
  background-color: #0a2640;
  padding: 16px 53px 16px 60px;
  color: #ffffff;
}

.content__right {
  padding: 0px 150px 120px 0px;
}

.content__item_img {
  margin-left: -31px;
  margin-right: 21px;
  margin-bottom: -8px;
}

.content__ol {
  padding: 48px 53px 0px 60px;
}

.template {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #0a2640;
}

.template__top {
  margin: 96px 262px 72px 150px;
  width: 716px;
  height: 139px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  align-items: center;
  color: #ffffff;
}

.template__arrows {
  padding-top: 178px;
}

.template__testimonial {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 116px;
  padding-bottom: 62px;
  gap: 40px;
}

.template__img {
  width: 350px;
}

.connect {
  margin: 0 auto;
}

.connect__img {
  padding: 124px 150px 56px 150px;
}

.connect__customers {
  display: flex;
  margin: 0 auto;
}

.connect__customers__left {
  width: 723px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  padding: 0px 100px 156px 150px;
}

.connect__customers__right {
  padding: 0px 151px 49px 0px;
  width: 675px;
  height: 37px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  text-align: right;
  margin-top: -5px;
}

.connect__chevron__p {
  border-bottom: 2px solid #c4c4c4;
  display: inline-block;
  padding-bottom: 16px;
}

.connect__chevron__top {
  margin-left: 72px;
  margin-bottom: -10px;
}

.connect__chevron__bottom {
  margin-left: 55px;
  margin-bottom: -10px;
}

.proposition {
  margin: 0px auto;
}

.proposition__top {
  width: 842px;
  height: 184px;
  margin: 0px auto;
  gap: 12px;
}

.proposition__top__blog {
  padding-bottom: 12px;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
}

.proposition__top__value {
  padding-bottom: 77px;
  text-align: center;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.cards__category {
  display: flex;
  margin: 77px auto 0px auto;
  justify-content: center;
}

.load__btn {
  margin: 84px auto 124px auto;
  width: 223px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  gap: 8px;
  border: 2px solid #0a2640;
  border-radius: 56px;
}

.load__more_btn {
  width: 107px;
  height: 28px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #0a2640;
}

.mask__group {
  margin: 0px auto;
  background-color: #0a2640;
}

.mask__group__text {
  padding-top: 72px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  width: 716px;
  color: #ffffff;
}

.mask__group_btn {
  padding-bottom: 74px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.mask__btn_mail {
  padding: 12px 158px 12px 32px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 240px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.mask__btn_start {
  padding: 16px 56px;
  background: #65e4a3;
  border: 2px solid #65e4a3;
  border-radius: 56px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0a2640;
}
